<footer class=" text-center text-bg-info p-3 mt-5">
    <div class="container p-4">
        <p class="text-center">
            &copy; {{ "now"|date("Y") }} Share-Post - Tous droits réservés.
        </p>
    </div>
</footer>
